[fill="currentColor"]{
        width: 100%;
        height: 75%;
      }
      .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date{
        left: 144%;
        color: #fff;
      }
      .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date{
        right: 144%;
        color: #fff;
      }